<style>
    body {
        background-color: #000000;
        color: #ffffff;
    }
</style>

<h1>Credits</h1>

<h2>The Offline Puzzle Solver's License...</h2>

<hr/>

<pre>

    Offline Puzzle Solver
    Copyright (C) 2021-2022 Contributors To The Offline Puzzle Solver

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.

</pre>

<hr/>

<h2>The Contributors...</h2>

<ul>
    <li>
        Just 20kdc right now!
    </li>
</ul>

<h2>Dependencies...</h2>

None, for now!
